body {
    overflow-x: hidden;
    background-color: rgb(205, 219, 9);
}

.wrapper_home {
    position: relative;
    margin: 0 auto;
    padding: 50px;
    clear: both;
}

.menu-area {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #262626;
    width: 350px;
}

.menu-area li {
    position: relative;
}

.menu-area li a {
    text-align: center;
    height: 36px;
    position: relative;
    border-bottom: 1px solid #ddd;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
}

.menu-area li a strong {
    display: block;
    text-transform: uppercase;
    font-family: bignoodletitling;
    font-size: 20px;
    letter-spacing: 3px;
}

.menu-area li:hover > a {
    color: rgb(255, 0, 0);
}
